name: Snapshot to AWS Lambda
on:
  push:
    branches:
      - 3.2.x
jobs:
  deploy:
    name: Deploy Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2.4.0
      - name: Run Tests
        run: ./gradlew starter-api:test starter-aws-lambda:test --refresh-dependencies
      - name: Build AWS Lambda
        run: |
          ./gradlew starter-aws-lambda:buildNativeLambda
          cp starter-aws-lambda/build/libs/*-lambda.zip build/function.zip
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
      - name: AWS Lambda Deploy
        uses: appleboy/lambda-action@v0.1.5
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          function_name: micronaut-starter-snapshot
          zip_file: build/function.zip
