name: Snapshot to Azure Function
on:
  push:
    branches:
      - azure-function-deploy
jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v2.4.0
      - name: Setup Java 1.8.x
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
      - name: 'Package Function'
        run: |
          ./gradlew starter-azure-function:azureFunctionsPackage
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
      - name: 'Deploy Azure Function'
        uses: Azure/functions-action@v1
        with:
          app-name: micronaut-starter
          package: ./starter-azure-function/build/azure-functions/micronaut-starter
          publish-profile: ${{ secrets.SCM_CREDENTIALS }}
