name: Mac OS X Native CLI
on: [push, pull_request]
jobs:
  build:
    name: Builds OS X Native CLI
    runs-on: macOS-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2.3.1
      - name: Install GraalVM
        env:
          GRAAL_VERSION: 20.1.0
          GRAAL_OS: darwin-amd64
        run: ./install-graal.sh
      - name: Install Native Image
        run: ./graalvm/Contents/Home/bin/gu install native-image
      - name: Build the JAR
        env:
          JAVA_HOME: ./graalvm/Contents/Home
        run: ./gradlew micronaut-cli:shadowJar --no-daemon
      - name: Build Native Image
        run: ./graalvm/Contents/Home/bin/native-image --no-fallback --no-server -cp starter-cli/build/libs/micronaut-cli-*-all.jar
      - name: Verify Build
        run: ./mn --version
      - name: Verify Create App
        run: ./mn create-app test
      - name: Package Build
        env:
          VERSION: ${{ github.event.release.tag_name }}
        run: |
          mkdir -p mn-darwin-amd64-snapshot/bin
          mv ./mn mn-darwin-amd64-snapshot/bin
          cp ./LICENSE mn-darwin-amd64-snapshot/
          zip -r mn-darwin-amd64-snapshot.zip ./mn-darwin-amd64-snapshot -x '*.DS_Store*' -x '__MAC_OSX'
      - name: Upload Snapshot
        if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2.1.3
        with:
          name: mn-darwin-amd64-snapshot
          path: mn-darwin-amd64-snapshot.zip

