name: Windows Native CLI
on: [push, pull_request]
jobs:
  build:
    name: Builds Windows Native CLI
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Download GraalVM
        run: Invoke-RestMethod -Uri https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.1.0/graalvm-ce-java11-windows-amd64-20.1.0.zip -OutFile 'graal.zip'
      - name: Install GraalVM
        run: Expand-Archive -path 'graal.zip' -destinationpath '.'
      - name: Install Native Image
        run: graalvm-ce-java11-20.1.0\bin\gu.cmd install native-image
      - name: Set up Visual C Build Tools Workload for Visual Studio 2017 Build Tools
        run: |
          choco install visualstudio2017-workload-vctools
      - name: Build JAR File
        shell: cmd
        env:
          JAVA_HOME: ./graalvm-ce-java11-20.1.0
        run: ./gradlew micronaut-cli:copyShadowJar --no-daemon
      - name: Build Native Image
        shell: cmd
        env:
          JAVA_HOME: ./graalvm-ce-java11-20.1.0
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat"
          ./graalvm-ce-java11-20.1.0/bin/native-image --no-server --no-fallback -cp build/libs/cli.jar
      - name: Verify Build (Powershell)
        run: ./mn.exe --version
      - name: Verify Create App (Powershell)
        run: ./mn.exe create-app test
      - name: Verify Build (CMD)
        shell: cmd
        run: mn --version
      - name: Verify Create App (CMD)
        shell: cmd
        run: mn create-app test2
      - name: ZIP Archive
        run: |
          New-Item "./mn-win-amd64-snapshot/bin" -ItemType Directory -ea 0
          Move-Item -Path ./mn.exe -Destination "./mn-win-amd64-snapshot/bin"
          Copy-Item "./LICENSE" -Destination "./mn-win-amd64-snapshot"
          Compress-Archive -Path "./mn-win-amd64-snapshot" -Update -DestinationPath ./mn-win-amd64-snapshot.zip
      - name: Publish artifact
        if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2.1.3
        with:
          name: mn-win-amd64-snapshot
          path: ./mn-win-amd64-snapshot.zip

